asgiref==3.4.1
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==2.0.12
cryptography==40.0.2
distlib==0.3.9
Django==3.2.20
django-cors-headers==3.10.1
djangorestframework==3.14.0
djangorestframework-simplejwt==4.2.0
drf-yasg==1.21.7
filelock==3.16.1
gunicorn==21.2.0
identify==2.6.3
idna==3.4
importlib-metadata==4.8.3
inflection==0.5.1
isort==5.13.2
nodeenv==1.9.1
packaging==21.3
platformdirs==4.3.6
pre_commit==4.0.1
pycparser==2.21
pycryptodome==3.18.0
PyJWT==2.4.0
pyparsing==3.0.7
pytz==2023.3
PyYAML==6.0.2
requests==2.27.1
sqlparse==0.4.4
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.16
virtualenv==20.28.0
whitenoise==5.3.0
zipp==3.6.0
